body {
    background-color: #100c08;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
div.header {
    border-bottom: 2px solid #0a1172;
    padding-bottom: 4%;
}

@media screen and (max-width: 767px) {
    div.header {
        border-bottom: 0;
    }
}
.button-gen {
    background-color: #0a1172;
    color:white;
    font-weight: bold;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

button {
    padding: 1.5% 3% 1.5% 3%;
    border-radius: 50em;
    font-size: 20px;
    margin-left: 70%;
    margin-top: 4%;
}
@media screen and (max-width: 767px) {
    button {
        padding: 2% 4% 2% 4%;
        border-radius: 30em;
        font-size: 12px;
        margin-left: 70%;
        margin-top: 4%;
    }
    .button-div {
        padding-top: 3.5%;
        margin-right: 7%;
    }
}
button:hover {
    border-radius: 0px;
    transition-duration: 0.1s;
}
button:active{
    background-color: white;
    color:#0a1172;
}
.logo {
    width: 15%;
    margin-left: 15%;
    position: absolute;
    padding-top: 3%;
    top:13px;
}

@media screen and (max-width: 767px) {
    .logo {
        width: 45%;
        margin-left: 5%;
        position: absolute;
        padding-top: 3%;
    }
}
.h1-general {
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bolder;
}
h1 {
    font-size: 11vw;
    margin-left: 15%;
    margin-bottom: 0px;  
}
@media screen and (max-width: 767px) {
    h1 {
        margin-left: 5%;
        font-size: 22vw;
    }
}

.intro-general {
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: justify;
    line-height: 120%;
    color: white;
}
.intro {

    font-size: 2vw;
    text-align: center;
    margin-top: 10%;
    padding-bottom: 7%;
}
@media screen and (max-width: 767px) {
    .intro {
        font-size: 4vw;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}
.green-div-general {
    background-color: #0a1172;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 1.3em;
}
.green-div {
    margin-left: 13%;
    margin-right: 55%;
    padding: 4%;
    border-radius: 50px;
    border: 1px solid white; 
}
@media screen and (max-width: 767px) {
    .green-div {
    margin-left: 0px;
    margin-right: 0px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 40px 30px 50px;
    display: block;
    height:auto;
    cursor:auto;
    border-radius: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .green-div {
        margin-left: 10%;
        margin-right: 20%;
        padding: 40px 30px 50px;
        display: block;
        height:auto;
        cursor:auto;
        }
}
.green-content {
    padding-top: 2%;
}
